body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}
  
  h1 {
    text-align: center;
  }

  #language {
    margin-bottom: 20px;
    right: 100px;
    text-align: center;
  }
  
  #language label {
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  #language select {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    background-color: #c1bdea;
  }

  .tagoozen-button {
    background-color: #9a92e8; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }

  .tagoozen-button:hover {
    background-color: #45a049; 
  }

  #addTagBtn {
    position: absolute;
    text-align: right;
    right: 11%;
  }

  #tableContainer {
    display: flex;
    margin: auto;
  }

  /*　テーブル　*/
  #tagoozen-tags-table {
    width: 80%;
    border-collapse: collapse;
    margin: 70px auto 0;
  }
  
  #tagoozen-tags-table th, 
  #tagoozen-tags-table td {
    border: 0.5px solid #ddd;
  }
  
  #tagoozen-tags-table th {
    padding: 8px;
    text-align: center;
  }
  
  #tagoozen-tags-table thead {
    background-color: #7771bc; 
    color: white;
  }

  /* タグの形 */
  .marker {
    position: fixed;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    z-index: 99999;
  }
  
  .marker.triangle-left {
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }

  .marker.triangle-left span {
    padding-top: 20%;
    display: inline-block;
    transform: rotate(-45deg);
  }
  
  .marker.triangle-right {
    width: 300px;
    height: 300px;
    top: 0;
    right: 0;
    clip-path: polygon(0% 0%, 100% 0,100% 100%);
  }
  .marker.triangle-right span {
    padding-top: 20%;
    display: inline-block;
    transform: rotate(45deg);
  }
  
  .marker.ribbon-left {
    display: inline-block;
    padding: 15px 0;
    left: -110px;
    top: 70px;
    width: 460px;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .marker.ribbon-right {
    padding: 15px 0;
    right: -110px;
    top: 70px;
    width: 460px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .marker.ribbon-left span, .marker.ribbon-right span {
    width: 460px;
    display: inline-block;
    padding: 12px 0;
    box-shadow: 0 0 0 2px rgba(251, 250, 250, 0.818);
    border-top: dashed 2px rgba(255, 255, 255);
    border-bottom: dashed 2px rgba(255, 255, 255);
  }

  .marker.rectangle-top {
    width: 100%;
    height: 10%;
    top: 0;
    display: grid;
    place-items: center;
  }
  .marker.rectangle-bottom {
    width: 100%;
    height: 10%;
    bottom: 0;
    display: grid;
    place-items: center;
  }

  .marker.watermark {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.25;
  }
  
  .marker.watermark span {
    transform: rotate(-45deg);
    white-space: nowrap;
    color: inherit;
    font-size: 5em;
    user-select: none;
    content: attr(data-text);
  }

  /*フォーム*/
  .tagoozen-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 78%;
    margin: 20px auto;
    background-color: #f9f9f9;
  }
  .tagoozen-form h2 {
    margin-bottom: 20px;
  }

  .tagoozen-form input[type="text"],
  .tagoozen-form input[type="color"],
  .tagoozen-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .tagoozen-form input[type="color"] {
    height: 3em;
  }
  
  /* POPUP */
  .tagoozen-popup-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
